/* 
1. Positioning
2. Box model
3. Typography
4. Visuals (shadow-box, border-radius )
5. Miscellaneous 
*/

:root {
  /*  Colors */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  height: 295px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
  width: 151px;
  height: 24px;
  align-self: center;
  margin-top: 42px;
}

.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 78px;
  margin: 0 auto;
  margin-top: 36px;
  text-align: center;
}

.header__title-container h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--just-white);
  line-height: 2.6rem;
}

.header__title-container p {
  margin-top: 24px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header__title-container .header__button {
  position: absolute;
  left: calc(50% - 118px);
  top: 268px;
  display: block;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 4px;
  color: var(--warm-black);
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
}

.header__button span {
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-left: 14px;
  background-image: url("./assets/icons/down-arrow.svg");
}

main {
  width: 100%;
  min-width: 320px;
  background-color: var(--off-white);
  height: auto;
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 59px;
  padding-bottom: 50px;
}

.main-exchange-container__title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.main-exchange-container__title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  padding-bottom: 24px;
  color: var(--warm-black);
}

.main-exchange-container__title p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.main-exchange-container .backgroundImg {
  width: 195px;
  height: 195px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-image: url("./assets/img/bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.table__column--right {
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-size: 400;
  color: #757575;
}

.table__column--left {
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-size: 500;

  color: #b5b0ac;
}

.table__icon--down {
  display: inline-block;
  width: 11px;
  height: 6px;
  background-image: url("./assets/icons/trending-down.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  align-self: center;
  margin-bottom: 1px;
}
